<ul class="list-group">
  <li class="p-3 mb-2 list-group-item list-group-item-action list-group-item-warning">
    <div class="col-auto me-auto">
      <input class="align-middle" type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}}>
      <h4 class="d-inline ms-2 align-middle">
        {{ todo.name }}
      </h4>
      <a href="/todos/{{ todo.id }}/edit" style="display:inline"><i class="fas fa-solid fa-pen" style="color: #f2b378;" type="submit"></i></a>
      <form action="/todos/{{ todo.id }}?_method=DELETE" method="POST" style="display:inline">
        <button class="btn" type="submit"><i class="fas fa-trash-alt" style="color: #f2b378;"
            type="submit"></i></button>
      </form>
    </div>
</ul>