<form action="/todos/{{ todo.id }}/edit" method="POST" class="d-flex">
  <input type="text" class="form-control me-2" placeholder="name" name="name" value="{{ todo.name }}">
  <button type="submit" class="btn btn-warning">Save</button>
</form>