<form action="/todos" method="POST" class="d-flex">
  <input type="text" class="form-control me-2" placeholder="name" name="name">
  <button type="submit" class="btn btn-warning">Create</button>
</form>